.form_container {
     display: block;
    background-color: white;
   border-radius: 1em;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

form{
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    text-align: center;
}

html, body{
    height:100%;
    background: rgb(249,249,237);
    background: linear-gradient(0deg, rgba(249,249,237,1) 0%, rgba(217,219,241,1) 100%);
}

img{
    height: 7em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav-buttons{
    text-align: center;
}

/*.map-container{*/
/*    height: 30em;*/
/*    width: 55em;*/
/*    border: solid #DBF4A7 3px;*/
/*    margin: auto;*/
/*}*/

#map-route{
    height: 95%;

    margin: .75em;
}


#locContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: center;
    margin: auto;
    width:35%;
    padding: 1%;

}

#nextStep{
    text-align: center;
}

#locContainer input[type=text], select {
    border:  solid #8E9DCC 2px;
  border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
}

#detailsContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: left;
    margin: auto;
    width:25%;
    padding: 1%;
    background-color: whitesmoke;
}

#detailsContainer input[type=integer],input[type=float],input[type=date]{
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    background-color: white;
    width:20%;
    min-width: 30px;
    text-align: right;
}
#detailsContainer input[type=date] {
    width:66%;
    min-width: 60px;
}

#detailsContainer label{
    text-align: left;
}


#filtersContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    padding-bottom: 1%;
    padding-top: 1%;
    width:45%;
    margin: auto;
    background-color: whitesmoke;
}

#filtersContainerTable{
    text-align: right;
    margin: auto;
    width: 95%;

}

#filtersContainer label{
    text-align: left;
    float:left;
    padding-left: 2%;
}

#filtersContainer input[type=checkbox]{
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
    width:10%;
    text-align: right;
}


#mapButton{
    background-color: #8E9DCC;
    border: solid #7D84B2 1px;
    margin: 5px;
}

#mapButton:hover {
    background-color: #D9DBF1;
}

.fa-solid fa-arrow-right{
    color: red;
}

/*#baseHeaderLogo{*/
/*    overflow: hidden;*/
/*}*/

/*#baseHeaderHome{*/
/*    margin: 50px;*/
/*}*/

/*#baseHeaderLogout{*/
/*    float: right;*/
/*}*/

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#baseButton{
    background-color: transparent;
}

#optionsContainer{
    float: left;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: left;
    width:15%;
    margin-left: 1%;
    padding: 1%;
    background-color: whitesmoke;
}

#map {
    float: left;
      height: 100%; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
    border-radius: 5px;
}

#mapContainer {
    background-color: whitesmoke;
    float: left;
    margin-left:9%;
      height: 25em; /* The height is 400 pixels */
      width: 50%; /* The width is the width of the web page */
    border: solid #DBF4A7 3px;
    padding: 15px;
    border-radius: 5px;

}

#mainContainer{
    margin: auto;
    width:90%;
}


#clear {
    clear: both;
}

#addDetContainer{
    background-color: red;
    width:100%;
    margin:auto;
}

#optPopUp {
    /*top:0;*/
    margin:auto;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    border: solid darkgrey 3px;
    text-align: center;
    padding: 1%;
    background-color: whitesmoke;
}

#stepOptions{
    margin-bottom: 10px;
}




