/*BASE*/
html, body{
    min-height:100vh;
    background: rgb(249,249,237);
    background: linear-gradient(0deg, rgba(249,249,237,1) 0%, rgba(217,219,241,1) 100%);
}

header {
    background-color: #364156;
    color: white;
}

#baseButton2 i {
    font-size: min(8vh,5vw);
    margin: auto;
    color: white;
}

#baseButton1 i {
    font-size: min(8vh,5vw);
    margin: auto;
    color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*END BASE*/

/*HOME*/

#nav-buttons{
    text-align: center;

}

#homeButtons{
    margin:5%;
    width:min(30vh,30vw);
}

.carousel-inner{
    background-color: #364156;
    border: solid #364156 3px;
    border-radius: 10px;
}

#carouselFade
{
    margin: auto;
    width:min(82vw,101vh)
}

.carousel-item img {
    border-radius: 10px;
    border: solid #7D84B2 3px;
    margin: auto;
    height: min(60vh,50vw);
    width:min(80vw,100vh)
}

/*END HOME*/

/*LOGIN & REGISTER*/
.form_container {
    background-color: white;
    border-radius: 1em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
    width:min(80vw,100vh)
}

form{
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;

}

#divSubmit{
    margin-left:auto;
    margin-right:auto;
    margin-top:8%;
    text-align: center;
}

h1{
    text-align: center;
}

/*END LOGIN & REGISTER*/

/*ADMIN*/

#adminContainer{
    width: min(90vw,100vh);
    margin: auto;
    height:50%;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}

#adminContentRight input[type=int]{
    text-align: center;
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    height: 100%;
    background-color: white;
    width: min(10vw,5vh);
    margin-bottom: 1%;
}

#adminContentRight label{
    width: min(10vw,5vh);
}

#rateContent label{
    width: min(33vw,20vh);
}

#rateContent input[type=text]{
    text-align: center;
    height: 100%;
    width: min(10vw,5vh);
    margin-bottom: 1%;
}

#updateCont{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#dataContainer{
    width: min(90vw,100vh);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    height:50%;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}
/*END ADMIN*/

/*MANAGE TRIPS*/

#savedTrips{
    width: 90%;
    border-radius: 5px;
    margin:auto;
    max-height: 277px;
    overflow: auto;
}

#savedTrips button{
    float: right;
}

#previousTrips button{
    float: right;
}

#previousTrips{
    margin:auto;
    width: 90%;
    border-radius: 5px;
    max-height: 275px;
    overflow: auto;
}

#saveTripCont{
    float: left;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    width: min(80vw,80vh);
    margin-top: 3%;
    margin-left: 5.6%;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}

#prevTripCont{
    float: right;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    width: min(80vw,80vh);
    margin-top: 3%;
    margin-right: 5.6%;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}
/*END MANAGE TRIPS*/

/*PROFILE*/


#preset1{
    margin-right:5%;
}

#preset2{
    margin-left:5%;
    margin-right:5%;
}

#preset3{
    margin-left:5%;
}

#presCont{
    width: 40%;
    margin: auto;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}

/*END PROFILE*/

img{
    height: 7em;
}



#map-route{
    height: 95%;

    margin: .75em;
}


#locContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: center;
    margin: auto;
    width:25%;
    padding: 1%;
    background-color: whitesmoke;
}

#nextStep{
    text-align: center;
}

#locContainer input[type=text], select {
    border:  solid #8E9DCC 2px;
  border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
    text-align: center;
}

#allContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    margin: auto;
    width: 40%;
}

#detailsContainer{
    border-radius: 10px;
    border: solid lightgray 1px;
    text-align: left;
    margin: 1%;
    padding-top: 1%;
    background-color: rgba(245, 245, 245, .8)
}

#detailsContainer input[type=integer],input[type=float],input[type=date]{
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    background-color: white;
    width:20%;
    min-width: 30px;
    text-align: center;
}
#detailsContainer input[type=date] {
    width:66%;
    min-width: 60px;
}

#detailsContainer label{
    text-align: left;
}

#presetContainer{
    text-align: center;
    border-radius: 10px;
    border: solid lightgray 1px;
    margin: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgba(245, 245, 245, .8)
}

#presetOuter{
   display: none;
}

#filtersContainer{
    border-radius: 10px;
    border: solid lightgray 1px;
    margin: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgba(245, 245, 245, .8)
}

#nameContainer{
    border-radius: 10px;
    border: solid lightgray 1px;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 1%;
    background-color: rgba(245, 245, 245, .8)
}

#nameContainer input[type=text]{
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    background-color: white;
    width:40%;
    margin-left: 30%;
    text-align: center;
}





#filtersContainerTable{
    text-align: right;
    margin: auto;
    width: 95%;

}

#filtersContainer label{
    text-align: left;
    float:left;
    padding-left: 2%;
}

#filtersContainer input[type=checkbox]{
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
    width:10%;
    text-align: right;
}


#mapButton{
    background-color: #8E9DCC;
    border: solid #7D84B2 1px;
    margin: 5px;
}

#mapButton:hover {
    background-color: #D9DBF1;
}

.fa-solid fa-arrow-right{
    color: red;
}

/*#baseHeaderLogo{*/
/*    overflow: hidden;*/
/*}*/

/*#baseHeaderHome{*/
/*    margin: 50px;*/
/*}*/

/*#baseHeaderLogout{*/
/*    float: right;*/
/*}*/

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#baseButton1{
    background-color: transparent;
}



/*#tripOptions{*/
/*    float: right;*/
/*    border-radius: 10px;*/
/*    border: solid #7D84B2 3px;*/
/*    text-align: center;*/
/*    width:16%;*/
/*    margin-right: 1%;*/
/*    padding: 1%;*/
/*    background-color: whitesmoke;*/
/*}*/

#tripName{
    margin-left:20%;
}

#map {
    float: left;
      height: 100%; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
    border-radius: 5px;
}

#mapContainer {
    background-color: whitesmoke;
    float: left;
    margin-left:4%;
      height: 35em;
      width: 50%;
    border: solid #DBF4A7 3px;
    padding: 15px;
    border-radius: 5px;

}

#addDetails{
    margin: auto;
    width: 90%;
    text-align: center;
}

#addDetails p{
    text-align: left;
}

#mainContainer{
    margin: auto;
    width:90%;
}

#mapPopUp{
    display: none;
    position: relative;
    padding: 1%;
    width: 16%;
    margin:500px;
    left:41%;
    background-color: rgba(245, 245, 245, .8);
    border: solid #DBF4A7 3px;
    border-radius: 5px;
}


#mapPopUp2{
    display: none;
    position: relative;
    padding: 1%;
    width: 36%;
    left: 32%;
    background-color: rgba(245, 245, 245, .8);
    border: solid #DBF4A7 3px;
    border-radius: 5px;
}

#mapPopUp3{
    opacity: 1;
    transition: opacity 2s ease-out;
    display: none;
    position: relative;
    padding: 1%;
    width: 36%;
    left: 32%;
    background-color: rgba(245, 245, 245, .8);
    border: solid #DBF4A7 3px;
    border-radius: 5px;
}

#clear {
    clear: both;
}

#addDetContainer{
    background-color: red;
    width:100%;
    margin:auto;
}

#optPopUp {
    /*top:0;*/
    margin:auto;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    border: solid darkgrey 3px;
    text-align: center;
    padding: 1%;
    background-color: whitesmoke;
}

#stepOptions{
    margin-bottom: 10px;
}

#summaryContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    margin: auto;
    text-align: center;
    width:25%;
    background-color: whitesmoke;
}

.card{
    margin-left: 10px;
    margin-right: 10px;

}
border
.card-text{
   background-color: whitesmoke;
}

#summaryContainer ul{
    text-align: left;
    margin-left: 30%;
}

#tripHeader{
    text-align: center;
}



@keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    /* Apply the animation to the div when a certain class is added */
    #myDiv.fadeOut {
        animation: fadeOut 1s;
    }

/*Reference: https://codepen.io/anefzaoui/pen/NWPZzMa*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*body {*/
/*    margin: 5%;*/
/*    text-align: center;*/
/*    background: #111;*/
/*    color: #333;*/
/*}*/
    /*h1 {*/
    /*    font-size: 2em;*/
    /*    margin-bottom: .5rem;*/
    /*}*/

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #7D84B2;  }
/*end reference*/

@keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

#mapPopUp3.fadeOut {
    animation: fadeOut 2s;
}

.scrollable-div {
    height: 100%; /* Set the maximum height for the div */
    overflow-y: auto; /* Enable vertical scrolling */
  }

/*Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/
.dropbtn {
  margin-bottom: 2%;
  background-color: #7D84B2;
  color: white;
  /*padding: 16px;*/
  /*font-size: 16px;*/
    border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/* End Reference */

#tripOptions{
    float: right;
    text-align: center;
    width:20%;
    margin-right: 1%;
    padding: 1%;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    background-color: whitesmoke;
}

#recOptions{
    display: none;
    float: right;
    text-align: center;
    width:20%;
    margin-right: 1%;
    padding: 1%;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    background-color: whitesmoke;
}

#mainOptionsCont{
    float: left;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    width:20%;
    margin-left: 1%;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}

#attList{
    width: 90%;
    margin:auto;
    text-align: left;
}

#recContainer{
    margin:auto;
    max-height: 35em;
}

#reccChoices{
    width: 90%;
    margin:auto;
    max-height: 11em;
    overflow: auto;
}


#popChoices{
    display: none;
    width: 90%;
    margin:auto;
    max-height: 15em;
    overflow: auto;
}

#reccChoices button{
    width: 90%;
}


#optionsContainer{
    width:90%;
    margin: auto;
}


#routeCont{
    margin:auto;
    width: 90%;
    border-radius: 10px;
    border: solid #7D84B2 1px;
    background-color: whitesmoke;
    padding: 3%;
}

#breakCont{
    margin:auto;
    width: 90%;
    border-radius: 10px;
    border: solid #7D84B2 1px;
    background-color: whitesmoke;
    padding: 3%;
    /*text-align: left;*/
}

#breakCont input[type=int]{
    text-align: center;
    border:  solid #8E9DCC 2px;
  border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
    width: 30%;
    min-width: 10px;
}

#invalidAlert{
    display: none;
}

#invalidFormatAlert{
    display: none;
}

#breakAlert{
    display: none;
}

select{
    text-align: center;
}

#timeAlert{
    width: 35%;
    margin: auto;
    margin-top:1%;
    margin-bottom: 1%;
    display: none;
}

#breakInProg{
    display: none;
}

#breakTabs{
    border-collapse: separate;
     border-spacing: 15px;
}


/*#adminContentLeft{*/
/*    float: left;*/
/*    height: 100%;*/
/*}*/




.btn-info {
    background-color: lightsteelblue !important;
    border-color: black !important;
}



