.form_container {
     display: block;
    background-color: white;
   border-radius: 1em;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

form{
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    text-align: center;
}

html, body{
    height:100%;
    background: rgb(249,249,237);
    background: linear-gradient(0deg, rgba(249,249,237,1) 0%, rgba(217,219,241,1) 100%);
}

img{
    height: 7em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav-buttons{
    text-align: center;
}

.map-container{
    height: 30em;
    width: 55em;
    border: solid #DBF4A7 3px;
    margin: auto;
}

#map-route{
    height: 95%;

    margin: .75em;
}


#locContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: center;
    margin: auto;
    width:45%;
    padding: 1%;
}

#nextStep{
    text-align: center;
    margin: 1%;
    padding: 1%;
}

#locContainer input[type=text], select {
    border:  solid #8E9DCC 2px;
  border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
}

#detailsContainer{
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: left;
    margin: auto;
    width:45%;
    padding: 1%;
}

#detailsContainer input[type=integer],input[type=float],input[type=date],input[type=checkbox]{
    border:  solid #8E9DCC 2px;
    border-radius: 4px;
    height: 100%;
    background-color: white;
    margin: 10px;
    width:10%;
}
#detailsContainer input[type=date] {
    width: 35%;
}
#mapButton{
    background-color: #8E9DCC;
    border: solid #7D84B2 1px;
    margin: 5px;
}

#mapButton:hover {
    background-color: #D9DBF1;
}

.fa-solid fa-arrow-right{
    color: red;
}

/*#baseHeaderLogo{*/
/*    overflow: hidden;*/
/*}*/

/*#baseHeaderHome{*/
/*    margin: 50px;*/
/*}*/

/*#baseHeaderLogout{*/
/*    float: right;*/
/*}*/

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#baseButton{
    background-color: transparent;
}

#optionsContainer{
    float: left;
    border-radius: 10px;
    border: solid #7D84B2 3px;
    text-align: left;
    width:25%;
    margin-left: 1%;
    padding: 1%;
}

#map {
    float: left;
    margin-left: 2%;
      height: 25em; /* The height is 400 pixels */
      width: 50%; /* The width is the width of the web page */
    border: solid #DBF4A7 3px;
}

#mainContainer{
    margin: auto;
}


#clear {
    clear: both;
}



