#login_container{
    display: block;
    visibility: visible;
}

#register_container{
    display: none;
    visibility: hidden;
}

.form_container {
     display: block;
    background-color: white;
   border-radius: 1em;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

form{
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    text-align: center;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,221,215,1) 0%, rgba(34,224,218,1) 100%);
}

