{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}

        <div id="mainContainer">
            <h3 id="attTitle" style="text-align: center"></h3>
            <div id="adminContainer">
                <h4 style="text-align: center">Attraction Details:</h4>
                <div id="adminContentLeft"></div><br>
                <div id="adminContentRight">
                    <h5>Business Hours:</h5>
                    Monday: <input id="oHour1" type="int">:<input id="oMin1" type="int"> <strong>/</strong>
                            <input id="cHour1" type="int">:<input id="cMin1" type="int"><br>
                    Tuesday: <input id="oHour2" type="int">:<input id="oMin2" type="int"> <strong>/</strong>
                            <input id="cHour2" type="int">:<input id="cMin2" type="int"><br>
                    Wednesday: <input id="oHour3" type="int">:<input id="oMin3" type="int"> <strong>/</strong>
                            <input id="cHour3" type="int">:<input id="cMin3" type="int"><br>
                    Thursday: <input id="oHour4" type="int">:<input id="oMin4" type="int"> <strong>/</strong>
                            <input id="cHour4" type="int">:<input id="cMin4" type="int"><br>
                    Friday: <input id="oHour5" type="int">:<input id="oMin5" type="int"> <strong>/</strong>
                            <input id="cHour5" type="int">:<input id="cMin5" type="int"><br>
                    Saturday: <input id="oHour6" type="int">:<input id="oMin6" type="int"> <strong>/</strong>
                            <input id="cHour6" type="int">:<input id="cMin6" type="int"><br>
                    Sunday: <input id="oHour0" type="int">:<input id="oMin0" type="int"> <strong>/</strong>
                            <input id="cHour0" type="int">:<input id="cMin0" type="int"><br>
                </div><br>
                <div id="updateCont"><button onclick=updateAttraction() type="button" class="btn btn-outline-dark" >Update Content</button></div>
            </div><br>
            <div id="dataContainer">
                <h4 style="text-align: center">Attraction Details:</h4>
                <div id="rateContent">
                    <h5>Rating Details:</h5>
                </div>
                <div id="occContent">
                    <h5>Attraction Occurrence:</h5>
                    <p>This table outlines how many times your attraction has been part of a trip with each attraction offered by our site.</p>
                    <table id="occTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Attraction</th>
                                <th>Occurrence</th>
                            </tr>
                        </thead>
                        <tbody id="occBody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <script type="text/javascript">


            let attraction = {{ attraction | safe}};
            {#let rating = {{ rating | safe}};#}
        </script>

        <script src="{% static 'script/admin.js' %}"></script>

    {% endif %}
{% endblock %}