{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            <td><nobr>
                <span style="font-weight:bold">
                    Group Details
                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Attractions
                </span>
                <span style="color:lightgray">

                    <i class="fa-solid fa-arrow-right"></i>
                    Route Map
                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </nobr>
        </div>

        <div id="mainContainer">
            <div id="optionsContainer">
            </div>

            <div id="map">
            </div>

            <div id="clear"></div>

        </div>

        <br>
        <div id="nextStep">
            <button onclick="location.href='/create'" type="button" class="btn btn-outline-dark" >PREVIOUS STEP</button>
            <button onclick=collectChoices() type="button" class="btn btn-outline-dark" >NEXT STEP</button>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";

            document.getElementById('optionsContainer').innerHTML = ``;

            displayOptions()

            function displayOptions(){
                let resultsObj = [];
                let optCont = document.getElementById('optionsContainer')
                let results = localStorage.getItem("resultStore");

                if (results == null) {
                    resultsObj = [];
                  } else {
                    resultsObj = JSON.parse(results);
                }


                console.log("beep " + resultsObj.length);
                console.log(resultsObj[0])

                for(i=0; i < resultsObj.length; i++){

                    checkHtml = `
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-bottom: 2%">
                                      <input type="checkbox" onclick=addAttraction(${resultsObj[i].id}) class="btn-check" name=${resultsObj[i].name} id=${resultsObj[i].id} autocomplete="off">
                                      <label class="btn btn-outline-primary" for=${resultsObj[i].id}>${resultsObj[i].name}</label>
                                    </div>
                        <br>`
                    optCont.innerHTML += checkHtml;
                }


            }
        </script>

        <script src="{% static 'script/choose_attractions.js' %}"></script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o&callback=initMap&v=weekly"
          defer></script>



    {% endif %}
{% endblock %}