{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            <td><nobr>
                <span >
                    Trip Details
                    <i class="fa-solid fa-arrow-right"></i>

                </span >
                <span style="font-weight:bold">Choose Attractions</span>

                <span style="color:lightgray">

                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Location
                    <i class="fa-solid fa-arrow-right"></i>
                    Trip Summary
                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </nobr>
        </div>
        <br>
        <div id="mainContainer">
        <div id="mainOptionsCont">
            <div id="optionsContainer" class="scrollable-div">
            </div>
        </div>
            <div id="mapContainer">
                <div id="map"></div>
            </div>

            <div id="tripOptions">
                <div id="recContainer">
                <h5>Attractions Popular with <br>Similar Users:</h5>
                    <div class="dropdown">
                  <button onclick="showDropdown()" type="button" class="dropbtn"><i class="fa-solid fa-circle-chevron-down"></i> Minimum Rating</button>
                  <div id="myDropdown" class="dropdown-content">
                    <a onclick="compareTrips(10)"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></a>
                    <a onclick="compareTrips(8)"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></a>
                    <a onclick="compareTrips(6)"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></a>
                    <a onclick="compareTrips(4)"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></a>
                    <a onclick="compareTrips(2)"><i class="fa-solid fa-star"></i></a>
                  </div>

                </div>
                    <br>
                <div id="reccChoices">
                </div>
                </div>
            </div>


            <div id="clear"></div>

        </div>

        <br>
        <div id="nextStep">
            <button onclick="location.href='/create'" type="button" class="btn btn-outline-dark" >PREVIOUS STEP</button>
            <button onclick=collectChoices() type="button" class="btn btn-outline-dark" >NEXT STEP</button>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";
        </script>

        <script src="{% static 'script/choose_attractions.js' %}"></script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o&callback=initMap&v=weekly"
          defer></script>



    {% endif %}
{% endblock %}