{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            <td><nobr>
                <span style="font-weight:bold">
                    Group Details
                </span>
                <span style="color:lightgray">
                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Attractions
                    <i class="fa-solid fa-arrow-right"></i>
                    Route Map
                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </nobr>
        </div>

        <div id="locContainer">

           <input type="text" placeholder="Enter address" id="starting_address" name="starting_address">
           <input type="hidden" class="geo" id="id-lat-a" value="">
           <input type="hidden" class="geo" id="id-long-a" value="">

            <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Cycling</option>
            </select>
                <br>
            <button type="button" class="btn btn-primary btn-sm" onclick="beginTrip('a')" id="mapButton">Map Route</button>
            <button type="button" class="btn btn-primary btn-sm" onclick="getLocation()" id="mapButton">Use Location</button>
        </div>

        <div id="detailsContainer">

            Group Size:<input type="integer" name="starting_address"><br>
            Maximum Price:<input type="float" placeholder="€€€" name="starting_address"><br>
            Date:<input type="date" placeholder="Enter address" name="starting_address">
        </div>

        <div id="detailsContainer">
            Art<input type="checkbox" value="art" id="artCheck">
            History<input type="checkbox" value="history" id="histCheck">
        </div>

        <div id="nextStep">
            <button onclick="setFilters()" type="button" class="btn btn-outline-dark" >NEXT STEP</button>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";


        </script>

        <script src="{% static 'script/set_location.js' %}"></script>
        <script src="{% static 'script/attraction_choices.js' %}"></script>


    {% endif %}
{% endblock %}