{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div id="breadcrumbContainer" class="m-2 text-center">
            <div id="breadcrumbContent">
                <span style="font-weight:bold">
                    Trip Details
                </span>
                <span style="color:darkgray">
                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Attractions
                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Location
                    <i class="fa-solid fa-arrow-right"></i>
                    Route Map
                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </div>
        </div>
        <br>
        <div id="allContainer">
            <div id=nameContainer>
                <h5 style="text-align: center">Trip Name:</h5>
                <input type="text" id="tripName" placeholder="Enter Trip Name Here!">
            </div>
            <br>
            <div id="presetOuter">
                <div id="presetContainer">
                    <h5 style="text-align: center">Your Presets:</h5>
                </div>
                <br>
            </div>
            <div id="filtersContainer">
                <table id="filtersContainerTable" class="table">
                    <h5 style="text-align: center">Attraction Type:</h5>
                    <tr class="row">
                        <td class="col-sm-4"><label>Architecture</label><input type="checkbox" value="architecture" id="archCheck"></td>
                        <td class="col-sm-4"><label>Art</label><input type="checkbox" value="art" id="artCheck"></td>
                        <td class="col-sm-4"><label>Cultural</label><input type="checkbox" value="cultural"id="cultCheck"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm-4"><label>Educational</label><input type="checkbox" value="educational" id="eduCheck"></td>
                        <td class="col-sm-4"><label>Family-Friendly</label><input type="checkbox" value="family-friendly" id="famCheck">
                        </td>
                        <td class="col-sm-4"><label>Historical</label><input type="checkbox" value="historical" id="histCheck"></td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm-4"><label>Outdoors</label><input type="checkbox" value="outdoors" id="outCheck"></td>
                        <td class="col-sm-4"><label>Recreational</label><input type="checkbox" value="recreational" id="recCheck"></td>
                        <td class="col-sm-4"><label>Religious</label><input type="checkbox" value="religious" id="relCheck"></td>
                    </tr>
                </table>
            </div>
            <br>

            <div id="detailsContainer">
                <h4 style="text-align: center">Extra Details:</h4>
                <table id="extraDets" style="margin:auto">
                    <tr>
                        <td style="text-align: left"><label>Trip Date:</label></td>
                        <td style="text-align: right"><input type="date" id="chosenDate"
                                                             style="color: gray"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><br><h5 style="text-align: center">Optional:</h5></td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Group Size:</td>
                        <td style="text-align: right"><input type="integer" placeholder="1,2,3" id="groupSize"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left"><label>Maximum Price:*</label></td>
                        <td style="text-align: right"><input type="float" placeholder="€€€" id="maxPrice"
                                                             style="text-align: center"></td>
                    </tr>
                </table>
                <p style="text-align: center;font-size: .7rem;color: gray">* ticket price for each attraction per
                    adult</p>
                <nobr></nobr>
            </div>
        </div>
        <div id="invalidAlert" class="alert alert-danger alert-dismissible fade show" role="alert"
             style="width: 40%;margin-left:auto;margin-right: auto;margin-top: 10px;margin-bottom: 0;">
            <strong>Error!</strong> <i class="fa-solid fa-circle-xmark"></i>
            <p id="errorMsg"></p>
            <button type="button" onclick="closeInvAlert('noDate')" class="btn-close"
                    aria-label="Close"></button>
        </div>
        <div id="invalidFormatAlert" class="alert alert-danger alert-dismissible fade show" role="alert"
             style="width: 40%;margin-left:auto;margin-right: auto;margin-top: 10px;margin-bottom: 0;">
            <strong>Error!</strong> <i class="fa-solid fa-circle-xmark"></i>
            <p id="formatErrorMsg"></p>
            <button type="button" onclick="closeInvAlert('incFormat')" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
        <br>
        <div id="nextStep">
            <button onclick="setFilters()" type="button" class="btn btn-outline-dark">NEXT STEP</button>
        </div>
        <br>
        <script type="text/javascript">
            {#document.getElementById("chosenDate").valueAsDate = new Date()#}
        </script>

        <script src="{% static 'script/attraction_choices.js' %}"></script>


    {% endif %}
{% endblock %}