{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            Hi {{ user.username }}! Welcome to this site!
        </div>


            <button onclick="location.href='/create'" type="button" class="btn btn-outline-success">
             Create Trip</button>

            <button onclick="location.href='/manage'" type="button" class="btn btn-outline-success">
             Manage Trip</button>

            <button onclick="location.href='/edit'" type="button" class="btn btn-outline-success">
             Edit Profile</button>
    {% endif %}
{% endblock %}