{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            <h3>View & Manage your Trips!</h3>
            <p>Here you can manage your trips! Select a trip to start it right now or use the buttons to edit or delete
                a trip!</p>
        </div>

        <div id="mainContainer">

            <div id="saveTripCont">
                <h4>Saved Trips:</h4>
                <div id="savedTrips" class="list-group"></div>
                <br>
            </div>
            <div id="prevTripCont">
                <h4>Completed Trips:</h4>
                <div id="previousTrips" class="list-group"></div>
                <br>
            </div>

        </div>

        <script src="{% static 'script/manage_trips.js' %}"></script>

    {% endif %}
{% endblock %}