{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            <td><nobr>
                <span style="font-weight:bold">
                    Group Details
                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Attractions
                    <i class="fa-solid fa-arrow-right"></i>
                    Route Map
                </span>
                <span style="color:lightgray">

                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </nobr>
        </div>

        <div id="locContainer">

        <button type="button" class="btn btn-primary btn-sm" onclick=setChoice() id="mapButton">Use Current Location</button>

            <h5>OR</h5>

           <input type="text" placeholder="Enter chosen address" id="starting_address" name="starting_address">
           <input type="hidden" class="geo" id="id-lat-a" value="">
           <input type="hidden" class="geo" id="id-long-a" value="">

            <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Cycling</option>
            </select>
                <br>

        </div>

        <div id="nextStep">
            <button onclick="location.href='/choose'" type="button" class="btn btn-outline-dark" >PREVIOUS STEP</button>
            <button onclick=checkType() type="button" class="btn btn-outline-dark" >NEXT STEP</button>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";

        </script>
        
        <script src="{% static 'script/set_location.js' %}"></script>

    {% endif %}
{% endblock %}