{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <div class="m-2 text-center">
            <td><nobr>
                <span>
                    Group Details
                    <i class="fa-solid fa-arrow-right"></i>
                    Choose Attractions
                    <i class="fa-solid fa-arrow-right"></i>

                </span>
                <span style="font-weight:bold">Choose Location</span>
                <span style="color:lightgray">
                    <i class="fa-solid fa-arrow-right"></i>
                    Trip Summary
                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </nobr>
        </div>
        <br>
        <div id="locContainer">



            <h5>Choose Location</h5>
            <p>You may choose your starting location now or when you start your trip!</p>

           <input type="text" placeholder="Enter chosen address" id="starting_address" name="starting_address">
            <h7>OR</h7>
            <button type="button" class="btn btn-primary btn-sm" onclick=setChoice() id="mapButton">Use Current Location</button>
           <input type="hidden" class="geo" id="id-lat-a" value="">
           <input type="hidden" class="geo" id="id-long-a" value="">

            <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Cycling</option>
            </select>


        </div>
        <br>
        <div id="nextStep">

                <button onclick="location.href='/choose'" type="button" class="btn btn-outline-dark" >PREVIOUS STEP</button>
                <button onclick=checkType() type="button" class="btn btn-outline-dark" >NEXT STEP</button>

            </div>


        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";

        </script>
        
        <script src="{% static 'script/set_location.js' %}"></script>

    {% endif %}
{% endblock %}