{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <br>

        <div id="summaryContainer">
            <h1 id="trName"></h1>
            <h5 id="trDate"><em>Planned Date:</em></h5><br>
            <h4><em>Attractions:</em></h4>
            <div id="trAtt" class="row row-cols-1 row-cols-md-1 g-4" style="width: 50%; margin:auto"></div><br>
            <h4><em>Tags:</em></h4><div id="trTag"></div>
        </div>

        <br>
        <div id="nextStep" style="margin-bottom: 1.5%">
            <button onclick="document.getElementById('mapPopUp3').style.display='block'" type="button" class="btn btn-outline-dark" >BEGIN TRIP</button>
            <div id="mapPopUp3" style="width:min(80vw,70vh);text-align: center;margin-top: 2%;border: solid #DBF4A7 3px;border-radius10px;margin-bottom: 2%">
            <p>In order to avail of the best possible experience from this website, we will need to access your location. Please allow the the site to access your location when prompted.</p>
            <button onclick="location.href='/doingTrip'" type="button" class="btn btn-outline-dark" >OK</button>
        </div>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";


        </script>

        <script src="{% static 'script/start_trip.js' %}"></script>


    {% endif %}
{% endblock %}