{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <br>

        <div id="summaryContainer">
            <h1 id="trName"></h1>
            <h5 id="trDate"><em>Planned Date:</em></h5><br>
            <h4><em>Attractions:</em></h4>
            <div id="trAtt" class="row row-cols-1 row-cols-md-1 g-4" style="width: 50%; margin:auto"></div><br>
            <h4><em>Tags:</em></h4><p id="trTag"></p>
        </div>

        <br>
        <div id="nextStep">
            <button onclick="location.href='/doingTrip'" type="button" class="btn btn-outline-dark" >BEGIN TRIP</button>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";


        </script>

        <script src="{% static 'script/start_trip.js' %}"></script>


    {% endif %}
{% endblock %}