{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {% if user.is_authenticated %}
        <br>

        <div id="summaryContainer">
            <h1 id="trName"></h1>
            <p id="trDate"><strong><em>Planned Date:</em></strong></p>
            <strong><em>Attractions:</em></strong>
            <div id="trAtt" class="row row-cols-3 row-cols-md-2 g-4"></div><br>
            <p id="trTag"><strong><em>Tags:</em></strong></p>
        </div>

        <br>
        <div id="nextStep">
            <button onclick="location.href='/doingTrip'" type="button" class="btn btn-outline-dark" >BEGIN TRIP</button>
        </div>

        <script type="text/javascript">

            var api_key = "AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o";


        </script>

        <script src="{% static 'script/start_trip.js' %}"></script>


    {% endif %}
{% endblock %}