{% extends 'base.html' %}
{% block content %}
    {% load static %}


    {#<h3 id="map">Route:</h3>#}

    <div id="breadcrumbContainer" class="m-2 text-center">
        <div id="breadcrumbContent">
            <nobr>
                <span>
                    <a href="/create" style="text-decoration: none; color: inherit;">Trip Details</a>
                    <i class="fa-solid fa-arrow-right"></i>
                    <a href="/choose" style="text-decoration: none; color: inherit;">Choose Attractions</a>
                    <i class="fa-solid fa-arrow-right"></i>
                    <a href="/setLocation" style="text-decoration: none; color: inherit;">Choose Location</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
                <span style="font-weight:bold">Trip Summary</span>

                <span style="color:darkgray">
                    <i class="fa-solid fa-arrow-right"></i>
                    Finish
                </span>
            </nobr>
        </div>
    </div>
    <br>

    <div id="mainContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="margin-top:2%">
                    <div id="mainOptionsCont">
                        <h5>Planned Attractions:</h5>
                        <ul id="attList"></ul>
                        <br>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:2%">
                    <div id="mapContainer">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:2%">
                    <div id="tripSum">
                        <h5>Additional Details:</h5>

                        <div id="addDetails">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="nextStep">
        <div id="stepOptions">
            <button onclick="location.href='/setLocation'" type="button" class="btn btn-outline-dark">PREVIOUS STEP
            </button>
            <button onclick=optionsPopUp() type="button" class="btn btn-outline-dark">FINISH TRIP</button>
        </div>
        <div id="optPopUp">Would you like to save this trip for future use or start right now?<br><br>
            <button onclick=saveTrip(false) type="button" class="btn btn-outline-secondary">Save Trip</button>
            <button onclick=saveTrip(true) type="button" class="btn btn-outline-secondary">Start Now</button>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrmoquE8t2MjJUWPMs7okt2dA63OXc2o&callback=initMap"
            async defer></script>
    <script src="{% static 'script/route_map.js' %}"></script>


{% endblock %}